<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="none" thread-count="1">	
	<test name="Android Test">
		<parameter name="uuid" value="5200c70e420a86f5" />
		<classes>		
		<class name="com.SwagLabs.TestCases.SwagLab_TC01_MultipleProduct_Checkout" />
			<!--<class name="com.SwagLabs.TestCases.SwagLabs_PreCondition" />
		    <class name="com.SwagLabs.TestCases.SwagLab_TC01_MultipleProduct_Checkout" />
		    <class name="com.SwagLabs.TestCases.SwagLab_TC02_SingleProduct_Checkout" />
			<class name="com.SwagLabs.TestCases.SwagLab_TC03_MultipleProduct_RemoveAll" />
			<class name="com.SwagLabs.TestCases.SwagLab_TC04_MultipleProduct_RemoveOne" />
			<class name="com.SwagLabs.TestCases.SwagLab_TC05_ContinueShopping_AddProduct" />
			<class name="com.SwagLabs.TestCases.SwagLab_TC06_AddProduct_Cancel_CheckoutInfo" />
			<class name="com.SwagLabs.TestCases.SwagLab_TC07_AddProduct_Cancel_CheckoutOverview" />
			<class name="com.SwagLabs.TestCases.SwagLab_TC08_AddProduct_InventoryPage" />
			<class name="com.SwagLabs.TestCases.SwagLab_TC09_ProblemUser_InventoryPageValidation" />
			<class name="com.SwagLabs.TestCases.SwagLab_TC10_ProblemUser_AddMultipleProduct" />
			<class name="com.SwagLabs.TestCases.SwagLabs_PostCondition" />-->
		</classes>
	</test>	
	<!-- Test -->
</suite> <!-- Suite -->