<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<!--<listener class-name="resources.Listeners" /> <listener class-name="resources.ExtentReporterNG" 
			/> -->
	</listeners>

	<test thread-count="5" name="Test">
		<classes>
			<class name="com.SwagLabs.TestCases.SwagLabs_PreCondition" />
			<class name="com.SwagLabs.TestCases.SwagLab_TC01_MultipleProduct_Checkout" />
			<class name="com.SwagLabs.TestCases.SwagLab_TC02_SingleProduct_Checkout" />
			<class name="com.SwagLabs.TestCases.SwagLab_TC03_MultipleProduct_RemoveAll" />
			<class name="com.SwagLabs.TestCases.SwagLab_TC04_MultipleProduct_RemoveOne" />
			<class name="com.SwagLabs.TestCases.SwagLab_TC05_ContinueShopping_AddProduct" />
			<class name="com.SwagLabs.TestCases.SwagLab_TC06_AddProduct_Cancel_CheckoutInfo" />
			<class name="com.SwagLabs.TestCases.SwagLab_TC07_AddProduct_Cancel_CheckoutOverview" />
			<class name="com.SwagLabs.TestCases.SwagLab_TC08_AddProduct_InventoryPage" />
			<class name="com.SwagLabs.TestCases.SwagLab_ProblemUser_TC" />
			<class name="com.SwagLabs.TestCases.SwagLabs_PostCondition" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
